{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <div class=" d-flex flex-column vh-100 justify-content-center  align-items-center">
        <div class="w-25 border border-1 border-dark p-5 rounded bg-secondary text-white">
            <h1>Edit Account</h1>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="d-grid gap-3">
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, { 'attr': {'value': user.email} }) }}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="d-flex flex-row">
                        <p>Roles :</p>
                        {% for role in form.roles %}
                            <div class="form-check">
                                {{ form_widget(role) }}
                                {{ form_label(role) }}
                            </div>
                        {% endfor %}
                    </div>
                {% elseif is_granted('ROLE_USER') %}
                    <div class="d-flex flex-row d-none">
                        <p>Roles :</p>
                        {% for role in form.roles %}
                            <div class="form-check">
                                {{ form_widget(role) }}
                                {{ form_label(role) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div>
                    {{ form_label(form.password) }}
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password, { 'attr': {'placeholder': 'Leave blank to keep the current password'} }) }}
                </div>
                <div>
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname, { 'attr': {'value': user.firstname} }) }}
                </div>
                <div>
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname, { 'attr': {'value': user.lastname} }) }}
                </div>

                <div class="d-flex justify-content-end">
                    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
            {{ form_end(form) }}
            <a class="btn btn-dark" href="{{ path('app_front') }}">back to accueil</a>
        </div>
    </div>
{% endblock %}