{% extends 'base.html.twig' %}
{# This template extends the base layout. #}

{% block title %}User index{% endblock %}
{# Sets the page title to "User Index". #}

{% block body %}

    {#  Display flash messages, which may include status alerts or notifications. 
        These are rendered as Bootstrap alerts. #}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <h1 class="text-center">User index</h1>

    {# Button to create a new user, styled with Bootstrap classes. #}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-success m-4" href="{{ path('app_user_new') }}">+ New User</a>
    </div>

    {# Table to display user data in a dark Bootstrap-styled table with hover effects. #}
    <table class="table table-dark table-hover">
        <thead>
            <tr class="text-center">
                <th class="text-start">
                    <a href="{{ path('app_user_index', app.request.query.all | merge({'sort': 'id', 'order': sortField == 'id' and sortOrder == 'asc' ? 'desc' : 'asc'})) }}"
                    {# adds a double arrow when the column is not sorted.
                    or displays an up arrow for ascending sort.
                    or displays a down arrow for descending sort. #}
                    class="sort-link {% if sortField == 'id' %}{{ sortOrder == 'asc' ? 'asc' : 'desc' }}{% endif %}">
                        ID
                    </a>
                </th>
                <th class="text-start">
                    <a href="{{ path('app_user_index', app.request.query.all | merge({'sort': 'firstname', 'order': sortField == 'firstname' and sortOrder == 'asc' ? 'desc' : 'asc'})) }}"
                    class="sort-link {% if sortField == 'firstname' %}{{ sortOrder == 'asc' ? 'asc' : 'desc' }}{% endif %}">
                        Firstname
                    </a>
                </th>
                <th class="text-start">
                    <a href="{{ path('app_user_index', app.request.query.all | merge({'sort': 'lastname', 'order': sortField == 'lastname' and sortOrder == 'asc' ? 'desc' : 'asc'})) }}"
                    class="sort-link {% if sortField == 'lastname' %}{{ sortOrder == 'asc' ? 'asc' : 'desc' }}{% endif %}">
                        Lastname
                    </a>
                </th>
                <th class="text-start">
                    <a href="{{ path('app_user_index', app.request.query.all | merge({'sort': 'email', 'order': sortField == 'email' and sortOrder == 'asc' ? 'desc' : 'asc'})) }}"
                    class="sort-link {% if sortField == 'email' %}{{ sortOrder == 'asc' ? 'asc' : 'desc' }}{% endif %}">
                        Email
                    </a>
                </th>
                <th>
                    <a href="{{ path('app_user_index', app.request.query.all | merge({'sort': 'roles', 'order': sortField == 'roles' and sortOrder == 'asc' ? 'desc' : 'asc'})) }}"
                    class="sort-link {% if sortField == 'roles' %}{{ sortOrder == 'asc' ? 'asc' : 'desc' }}{% endif %}">
                        Roles
                    </a>
                </th>
                <th>
                    <a href="{{ path('app_user_index', app.request.query.all | merge({'sort': 'isVerified', 'order': sortField == 'isVerified' and sortOrder == 'asc' ? 'desc' : 'asc'})) }}"
                    class="sort-link {% if sortField == 'isVerified' %}{{ sortOrder == 'asc' ? 'asc' : 'desc' }}{% endif %}">
                        Is Verified
                    </a>
                </th>
                <th>
                    <a href="{{ path('app_user_index', app.request.query.all | merge({'sort': 'createdAt', 'order': sortField == 'createdAt' and sortOrder == 'asc' ? 'desc' : 'asc'})) }}"
                    class="sort-link {% if sortField == 'createdAt' %}{{ sortOrder == 'asc' ? 'asc' : 'desc' }}{% endif %}">
                        Created At
                    </a>
                </th>
                <th>
                    <a href="{{ path('app_user_index', app.request.query.all | merge({'sort': 'updatedAt', 'order': sortField == 'updatedAt' and sortOrder == 'asc' ? 'desc' : 'asc'})) }}"
                    class="sort-link {% if sortField == 'updatedAt' %}{{ sortOrder == 'asc' ? 'asc' : 'desc' }}{% endif %}">
                        Updated At
                    </a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# Loop through the 'pagination' variable to display each user in a table row #}
        {% for user in pagination %}
            <tr class="text-center">
                {# Display individual user details like ID, first name, last name, email, etc. #}
                <td class="text-start">{{ user.id }}</td>
                <td class="text-start">{{ user.firstname }}</td>
                <td class="text-start">{{ user.lastname }}</td>
                <td class="text-start">{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {#  Display action buttons to show, edit, and email the user. 
                        These buttons are grouped using Bootstrap classes. #}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a class="btn btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                        <a class="btn btn-warning" href="{{ path('app_user_mail', {'id': user.id}) }}">email</a>
                    </div>
                </td>
            </tr>
        {% else %}
            {# If no users are found, display a row with a message saying no records are available. #}
            <tr>
                <td colspan="9" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pagination.count > 10 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagination.hasPreviousPage() %}
                <!-- Show the "Previous" button if there is a previous page -->
                <li class="page-item">
                    <a class="page-link" href="{{ path('app_user_index', app.request.query.all | merge({'page': pagination.previousPage})) }}" aria-label="Précédent">
                        <span aria-hidden="true">&laquo; Previous</span> <!-- Left double arrow for "Previous" -->
                    </a>
                </li>
            {% endif %}

            <!-- Loop through all the pages -->
            {% for page in 1..pagination.nbPages %}
                <li class="page-item{% if page == pagination.currentPage %} active{% endif %}">
                    <!-- Highlight the current page by adding the 'active' class -->
                    <a class="page-link" href="{{ path('app_user_index', app.request.query.all | merge({'page': page})) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if pagination.hasNextPage() %}
                <!-- Show the "Next" button if there is a next page -->
                <li class="page-item">
                    <a class="page-link" href="{{ path('app_user_index', app.request.query.all | merge({'page': pagination.nextPage})) }}" aria-label="Suivant">
                        <span aria-hidden="true">Next &raquo;</span> <!-- Right double arrow for "Next" -->
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
